[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/poky
	branch = kirkstone

[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = kirkstone

[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi.git
	branch = kirkstone

[submodule "meta-ros"]
	path = meta-ros
	url = https://github.com/ros/meta-ros.git
	branch = kirkstone
